html {
  max-width: 2000px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: auto;
  padding-right: 3rem;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #f08080;
}

h1 {
  flex: 1;
  padding-left: 2rem;

  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #f4978e;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
}

.category a {
  font-family: "Cinzel", serif;
  font-size: 22px;
  color: #f08080;
  text-decoration: none;
}

.category li {
  list-style: none;
  text-align: center;
  padding: 40px 20px;
}

.seasons {
  padding: 15px 150px;
  border-bottom: 1px solid #f08080;

  text-decoration: none;
  list-style: none;
}

.seasons:hover {
  background-color: #f08080;
}

a.seasons:hover {
  color: white;
}

/* PRODUCTLIST PAGE */

.main-productlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-right: 100px;
  margin-left: 100px;
}

img {
  max-width: 100%;
}

.soldOut {
  position: relative;
  text-align: left;
}

.soldOut img {
  filter: opacity(50%);
}

.centered {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-family: "Montserrat", sans-serif;

  padding: 20px 20px;
  background-color: #f08080;
}

.soldOut .centered {
  display: block;
}

.product h3,
h4,
p {
  font-family: "Montserrat", sans-serif;
}

del {
  color: #d62828;
  font-family: "Montserrat", sans-serif;
}

.discount {
  line-height: 3px;
  padding-bottom: 15px;
}

/* PRODUCT PAGE */

.main-product {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.main-product img {
  display: block;
  position: relative;
  width: 50%;

  margin-left: auto;
  margin-right: auto;
}

.product-information {
  text-align: center;
}

/*  */

footer {
  padding-top: 15rem;
  text-align: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #f08080;
}

footer a {
  text-decoration: none;
  color: #f08080;
}

@media screen and (max-width: 950px) {
  .main-product img {
    width: 100%;
  }

  .main-product .product-information {
    font-size: 16px;
  }
}

@media screen and (max-width: 510px) {
  nav a {
    font-size: 14px;
    padding-right: 5px;
  }

  .main-product img {
    width: 100%;
  }

  .main-product .product-information {
    font-size: 14px;
  }
}

@supports (display: grid) {
  .main-productlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}
